---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import WikiLayout from "../../layouts/WikiLayout.astro";

interface Props {
  entry: CollectionEntry<"wiki">;
}

export async function getStaticPaths() {
  const wikiEntries = await getCollection(
    "wiki",
    ({ data }: CollectionEntry<"wiki">) => {
      return !data.draft;
    },
  );

  return wikiEntries.map((entry: CollectionEntry<"wiki">) => ({
    params: {
      // Join the slug segments with forward slashes
      slug: entry.slug.split(/[/\\]/).join("/"),
    },
    props: { entry },
  }));
}

const { entry } = Astro.props as Props;
const { Content, headings } = await entry.render();
---

<WikiLayout
  title={entry.data.title}
  description={entry.data.description}
  tags={entry.data.tags}
  category={entry.data.category}
  headings={headings}
>
  <div class="prose prose-primary dark:prose-invert max-w-none">
    <Content />
  </div>
</WikiLayout>
